@inherits LayoutComponentBase
@using MudBlazor
<MudLayout>
    <NavBar />
    <MudMainContent>
        <div class="havenza-container" style="min-height: calc(100vh - 300px);">
            @Body
        </div>
    </MudMainContent>
    <Footer />
</MudLayout>
